In [17]:
import ftplib

In [18]:
gg = ftplib.FTP("147.46.20.65")

In [19]:
gg.connect(port = 6421)

'220 Welcome to ALFTP server.'

In [20]:
gg.login(user='aiees1234', passwd='aiees1234')

'230 User logged in, proceed.'

In [21]:
gg.encoding="utf-8"

In [9]:
del gg

In [17]:
xx = ftplib.FTP(source_address=('147.46.20.65', 6421), user='aiees1234', passwd='aiees1234')

In [5]:
x = "/서버"

In [6]:
gg.cwd(x)

error_perm: 550 Access denied.

In [22]:
gg.dir('/서버')

error_temp: 450 Access denied.

In [23]:
gg.retrbinary("RETR /서버", open('test.txt', 'rb'))

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [11]:
fileName = "test.txt"
ftp = ftplib.FTP()

In [12]:
del gg

In [13]:
del xx

NameError: name 'xx' is not defined

In [14]:
ftp.connect("147.46.20.65", 6421)

'220 Welcome to ALFTP server.'

In [15]:
ftp.login("aiees1234", "aiees1234")

'230 User logged in, proceed.'

In [16]:
ftp.retrlines("LIST 서버")

error_temp: 450 Access denied.

In [25]:
gg.sendcmd("OPTS UTF8 ON")

'200 Ok'

In [26]:
gg.dir("/서버")

total 0
drw-rw-r--   1 root     root          512 Sep 21  2016 ...과거
drw-rw-r--   1 root     root          512 Jan 25 13:54 (2017)건물별태그값
drw-rw-r--   1 root     root          512 Feb 27 15:48 (2018)건물별태그값
drw-rw-r--   1 root     root          512 Dec 18 11:06 [커뮤니케이션부]홍보 아카이브
drw-rw-r--   1 root     root          512 Aug 09  2017 0.배출권거래제study
drw-rw-r--   1 root     root          512 Apr 09 11:17 0402작업용폴더
drw-rw-r--   1 root     root          512 Jan 07 13:25 1.DB관리부
drw-rw-r--   1 root     root          512 Oct 15 14:21 130동 axonometric
drw-rw-r--   1 root     root          512 Apr 12 17:02 1차검증후_수정데이터모음
drw-rw-r--   1 root     root          512 Mar 15 16:24 2.감축기반부
drw-rw-r--   1 root     root          512 Sep 12  2018 3.기획부
drw-rw-r--   1 root     root          512 Mar 21 17:43 47동이후(2017~2018)
-rw-rw-r--   1 root     root       293042 Dec 04 11:04 A_(2017)MP명세서_연료사용량 및 시설변경(20180910).xlsx
drw-rw-r--   1 root     root          512 Oct 22  2016 aspnet_client
drw-rw-r--   1 root     root          512 Apr 11 03:32 CMVP_Virtual
-rw-rw-r--   1 root     root       130006 Jan 22 16:49 DB구축작업현황정리(01.22)_이승율.xlsx
-rw-rw-r--   1 root     root     21061642 Nov 22 14:07 GEMC소개_2018.08.05.pptx
drw-rw-r--   1 root     root          512 Apr 09 14:39 R코드
drw-rw-r--   1 root     root          512 Apr 04 13:11 SNU_AMS2_20190326
-rw-rw-r--   1 root     root            4 Apr 15 10:33 test.txt
drw-rw-r--   1 root     root          512 May 19  2017 과거
-rw-rw-r--   1 root     root      9171267 Sep 05  2018 근로장학프로그램OT자료_20180906_정혜진.pptx
-rw-rw-r--   1 root     root     11476287 Mar 05 18:25 근로장학프로그램OT자료_20190305_정혜진.pptx
drw-rw-r--   1 root     root          512 Sep 05  2018 기타
drw-rw-r--   1 root     root          512 Mar 21 17:42 데이터정리폴더
drw-rw-r--   1 root     root          512 Jun 29  2018 센터
-rw-rw-r--   1 root     root        85359 Mar 05 16:45 업무흐름도(2019).pptx
drw-rw-r--   1 root     root          512 Feb 27 13:54 웹진
drw-rw-r--   1 root     root          512 Mar 27 17:45 전력량신규DB
drw-rw-r--   1 root     root          512 Nov 16 15:17 홍보영상작업

In [28]:
gg.cwd("/서버")

'250 CWD Command successful.'

In [31]:
k = open('tx.txt', 'wb')

In [32]:
gg.retrbinary("RETR test.txt", k.write)

'226 Closing data connection.'

In [33]:
k.close()

In [1]:
import pandas as pd

In [2]:
import sys

In [3]:
pastData = pd.read_table("3yearAmendedFinished180523.txt", sep='\t', encoding='cp949')

In [4]:
pastData = pastData.drop(['날짜', '시간', '요일'], axis=1)

In [5]:
pastData.shape

(26304, 152)

In [6]:
pastData.index = pd.date_range("20150101", freq='h', periods=26304)

In [7]:
pastData.to_csv("allDataSample.csv")

In [10]:
t =  pastData.index.astype(str)

In [13]:
type(t[0])

str

In [14]:
import os

In [24]:
sss = pd.read_csv('e:/python projects/201903projects/2017전력량 신규/1동.csv', index_col=0, engine='python')

In [30]:
sss.index = pd.core.tools.datetimes.to_datetime(sss.index, format = "%Y%m%d")

In [31]:
sss.head()

,0시,1시,2시,3시,4시,5시,6시,7시,8시,9시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
날짜,,,,,,,,,,,,,,,,,,,,,
2017-01-01,27,27,27,27,30,31,34,36,33,34,...,36,30,32,52,60,57,53,53,46,38
2017-01-02,38,37,41,41,34,39,44,50,72,103,...,136,123,122,109,68,72,70,72,63,36
2017-01-03,34,31,27,27,27,31,36,33,40,79,...,113,123,127,118,72,77,67,61,58,42
2017-01-04,48,44,42,39,36,38,41,47,66,106,...,149,148,136,105,53,60,60,75,73,36
2017-01-05,32,31,32,34,35,31,31,31,48,83,...,111,121,111,98,56,60,65,63,61,36

In [39]:
tk = sss.stack()

In [40]:
tk.index = pd.date_range("20170101", freq='h', periods=8760)

In [42]:
tk.name = "1"

In [45]:
pastData['20170101'].loc[:, '1']

2017-01-01 00:00:00    35.500000
2017-01-01 01:00:00    31.875000
2017-01-01 02:00:00    55.812500
2017-01-01 03:00:00    79.750000
2017-01-01 04:00:00    73.125000
2017-01-01 05:00:00    87.000000
2017-01-01 06:00:00    61.250000
2017-01-01 07:00:00    35.500000
2017-01-01 08:00:00    38.875000
2017-01-01 09:00:00    46.125000
2017-01-01 10:00:00    51.500000
2017-01-01 11:00:00    49.875000
2017-01-01 12:00:00    43.750000
2017-01-01 13:00:00    47.000000
2017-01-01 14:00:00    52.500000
2017-01-01 15:00:00    60.750000
2017-01-01 16:00:00    72.625000
2017-01-01 17:00:00    74.875000
2017-01-01 18:00:00    66.375000
2017-01-01 19:00:00    58.936986
2017-01-01 20:00:00    54.775421
2017-01-01 21:00:00    57.488636
2017-01-01 22:00:00    57.625000
2017-01-01 23:00:00    54.500000
Freq: H, Name: 1, dtype: float64

In [46]:
pastData.update(tk)

In [47]:
pastData['20170101'].loc[:, '1']

2017-01-01 00:00:00    27.0
2017-01-01 01:00:00    27.0
2017-01-01 02:00:00    27.0
2017-01-01 03:00:00    27.0
2017-01-01 04:00:00    30.0
2017-01-01 05:00:00    31.0
2017-01-01 06:00:00    34.0
2017-01-01 07:00:00    36.0
2017-01-01 08:00:00    33.0
2017-01-01 09:00:00    34.0
2017-01-01 10:00:00    35.0
2017-01-01 11:00:00    32.0
2017-01-01 12:00:00    32.0
2017-01-01 13:00:00    38.0
2017-01-01 14:00:00    36.0
2017-01-01 15:00:00    30.0
2017-01-01 16:00:00    32.0
2017-01-01 17:00:00    52.0
2017-01-01 18:00:00    60.0
2017-01-01 19:00:00    57.0
2017-01-01 20:00:00    53.0
2017-01-01 21:00:00    53.0
2017-01-01 22:00:00    46.0
2017-01-01 23:00:00    38.0
Freq: H, Name: 1, dtype: float64

In [75]:
filePath2017 = "e:/python projects/201903projects/2017전력량 신규"
filePath2018 = "e:/python projects/201903projects/2018전력량 신규"

10-1
101
102
103
104-1
104
105-2
105
109
10
111
113
117
11
121
129
12
130
131
132
133
135
137-1
137-2
137
138
139-1
139
13
140-1
140
141
142
143
14
15-1
150
151
152-1
152
153
15
16-1
16
17
18
19
1
200
201
203
20
21
220
221
222
22
23
24
25-1
25
27
28
29
2
30-2
301
302
30
31-1
310
311
313
314
316
31
32-1
32
33
34
35
36
37
38
39
3
40
41
42-1
43-1
43
44-1
44
45
46
47
48-1
48
49
4
500
50
51
52
53
54
55
56
57-1
57
58
59
5
61
62-1
62
63
64
65
66
67
68
69
6
70
71-1
71-2
71
72
73
74
75-1
75
76-1
76
7
80-1
80
81
82
83
84
85-1
85
86
8
919
941
97
98
9

In [107]:
for bld in os.listdir(filePath2017):
    temp = pd.read_csv(filePath2017+'/'+bld, index_col=0, engine='python')
    tempStacked = temp.stack()
    tempStacked.index = pd.date_range('20170101', freq='h', periods=365*24)
    tempStacked.name = bld.split(".")[0][:-1]
    pastData.update(tempStacked)
    print(tempStacked.name)

10-1
101
102
103
104-1
104
105-2
105
109
10
111
113
117
11
121
129
12
130
131
132
133
135
137-1
137-2
137
138
139-1
139
13
140-1
140
141
142
143
14
15-1
150
151
152-1
152
153
15
16-1
16
17
18
19
1
200
201
203
20
21
220
221
222
22
23
24
25-1
25
27
28
29
2
30-2
301
302
30
31-1
310
311
313
314
316
31
32-1
32
33
34
35
36
37
38
39
3
40
41
42-1
42
43-1
43
44-1
44
45
46
47
48-1
48
49
4
500
50
51
52
53
54
55
56
57-1
57
58
59
5
60
61
62-1
62
63
64
65
66
67
68
69
6
70
71-1
71-2
71
72
73
74
75-1
75
76-1
76
7
80-1
80
81
82
83
84
85-1
85
86
8
919
941
97
98
9

In [76]:
pastData.tail()

,1,2,3,4,5,6,7,8,9,10,...,500,919,941,62-1,86,81,71-1,15-1,111,85-1
2017-12-31 19:00:00,49.0,29.0,69.0,32.0,33.0,33.0,-24.0,64.0,33.0,27.0,...,1494.0,320.0,35.0,366.0,133.0,251.0,33.0,-30.0,8,0
2017-12-31 20:00:00,50.0,38.0,68.0,28.0,32.0,31.0,-25.0,63.0,33.0,13.0,...,1499.0,326.0,35.0,408.0,133.0,254.0,33.0,-29.0,7,0
2017-12-31 21:00:00,51.0,38.0,66.0,29.0,33.0,26.0,-26.0,65.0,29.0,12.0,...,1440.0,325.0,35.0,310.0,131.0,259.0,30.0,-30.0,5,0
2017-12-31 22:00:00,44.0,27.0,31.0,31.0,27.0,25.0,-31.0,68.0,25.0,12.0,...,1412.0,284.0,35.0,215.0,128.0,265.0,30.0,-29.0,4,0
2017-12-31 23:00:00,42.0,25.0,37.0,27.0,30.0,22.0,-29.0,63.0,23.0,26.0,...,1379.0,279.0,32.0,148.0,126.0,249.0,28.0,-28.0,6,0

In [54]:
blds = []
for bld in os.listdir(filePath2018):
    blds.append(bld.split('.')[0][:-1])

In [55]:
for i in blds : 
    if i in pastData.columns : 
        pass
    else : 
        print(i)

111
85-1

In [109]:
y2018 = pd.DataFrame(index=pd.date_range('20180101', freq='h', periods=365*24))

In [110]:
for bld in os.listdir(filePath2018):
    temp = pd.read_csv(filePath2018+'/'+bld, index_col=0, engine='python')
    tempStacked = temp.stack()
    tempStacked.index = pd.date_range('20180101', freq='h', periods=365*24)
    tempStacked.name = bld.split(".")[0][:-1]
    y2018[tempStacked.name] = tempStacked
    print(tempStacked.name)

10-1
101
102
103
104-1
104
105-2
105
109
10
111
113
117
11
121
129
12
130
131
132
133
135
137-1
137-2
137
138
139-1
139
13
140-1
140
141
142
143
14
15-1
150
151
152-1
152
153
15
16-1
16
17
18
19
1
200
201
203
20
21
220
221
222
22
23
24
25-1
25
27
28
29
2
30-2
301
302
30
31-1
310
311
313
314
316
31
32-1
32
33
34
35
36
37
38
39
3
40
41
42-1
42
43-1
43
44-1
44
45
46
47
48-1
48
49
4
500
50
51
52
53
54
55
56
57-1
57
58
59
5
60
61
62-1
62
63
64
65
66
67
68
69
6
70
71-1
71-2
71
72
73
74
75-1
75
76-1
76
7
80-1
80
81
82
83
84
85-1
85
86
8
919
941
97
98
9

In [60]:
pastData['85-1'] = ""

In [111]:
y2018

,10-1,101,102,103,104-1,104,105-2,105,109,10,...,84,85-1,85,86,8,919,941,97,98,9
2018-01-01 00:00:00,0,0,0,0,0,0,0,0,18,13,...,0,0,453,127,60,286,35,-12,0,22
2018-01-01 01:00:00,0,0,0,0,0,0,0,0,29,12,...,0,0,463,129,62,286,33,-12,0,22
2018-01-01 02:00:00,0,0,0,0,0,0,0,0,36,12,...,0,0,454,127,62,245,33,-12,0,22
2018-01-01 03:00:00,0,0,0,0,0,0,0,0,36,28,...,0,0,456,129,63,238,34,-12,0,22
2018-01-01 04:00:00,0,0,0,0,0,0,0,0,35,12,...,0,0,461,128,59,228,34,-13,0,21
2018-01-01 05:00:00,0,0,0,0,0,0,0,0,35,12,...,0,0,447,131,57,253,35,-12,0,21
2018-01-01 06:00:00,0,0,0,0,0,0,0,0,36,12,...,0,0,461,134,62,219,35,-12,0,21
2018-01-01 07:00:00,0,0,0,0,0,0,0,0,35,29,...,0,0,485,135,65,292,37,-12,0,21
2018-01-01 08:00:00,0,0,0,0,0,0,0,0,37,12,...,0,0,476,133,63,281,36,-13,0,21
2018-01-01 09:00:00,0,0,0,0,0,0,0,0,36,15,...,0,0,474,128,60,314,36,-12,0,24
2018-01-01 10:00:00,0,0,0,0,0,0,0,0,27,15,...,0,0,473,132,57,304,34,-12,0,27
2018-01-01 11:00:00,0,0,0,0,0,0,0,0,20,34,...,0,0,465,137,50,288,35,-12,0,29
2018-01-01 12:00:00,0,0,0,0,0,0,0,0,21,16,...,0,0,468,123,49,301,34,-12,0,34
2018-01-01 13:00:00,0,0,0,0,0,0,0,0,21,21,...,0,0,464,120,51,304,33,-12,0,40
2018-01-01 14:00:00,0,0,0,0,0,0,0,0,21,32,...,0,0,475,116,55,255,32,-12,0,40
2018-01-01 15:00:00,0,0,0,0,0,0,0,0,21,29,...,0,0,476,133,62,270,33,-12,0,35
2018-01-01 16:00:00,0,0,0,0,0,0,0,0,19,20,...,0,0,485,148,66,339,33,-12,0,34
2018-01-01 17:00:00,0,0,0,0,0,0,0,0,19,17,...,0,0,489,151,67,362,31,-12,0,29
2018-01-01 18:00:00,0,0,0,0,0,0,0,0,19,29,...,0,0,507,144,67,340,33,-12,0,27
2018-01-01 19:00:00,0,0,0,0,0,0,0,0,19,17,...,0,0,486,142,72,324,34,-12,0,29
2018-01-01 20:00:00,0,0,0,0,0,0,0,0,19,16,...,0,0,489,147,71,309,34,-12,0,29
2018-01-01 21:00:00,0,0,0,0,0,0,0,0,19,14,...,0,0,445,149,65,334,36,-12,0,27
2018-01-01 22:00:00,0,0,0,0,0,0,0,0,19,28,...,0,0,453,140,63,378,36,-13,0,25
2018-01-01 23:00:00,0,0,0,0,0,0,0,0,18,12,...,0,0,446,139,60,379,34,-12,0,24
2018-01-02 00:00:00,0,0,0,0,0,0,0,0,31,12,...,0,0,446,136,61,338,34,-12,0,22
2018-01-02 01:00:00,0,0,0,0,0,0,0,0,30,13,...,0,0,448,133,61,303,34,-12,0,20
2018-01-02 02:00:00,0,0,0,0,0,0,0,0,75,27,...,0,0,444,140,106,285,34,-12,0,19
2018-01-02 03:00:00,0,0,0,0,0,0,0,0,57,12,...,0,0,442,132,119,253,32,-12,0,19
2018-01-02 04:00:00,0,0,0,0,0,0,0,0,71,11,...,0,0,450,132,127,255,33,-12,0,19
2018-01-02 05:00:00,0,0,0,0,0,0,0,0,51,12,...,0,0,470,131,121,245,45,-23,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30 18:00:00,50,86,620,164,179,1043,298,307,30,18,...,24,87,444,156,84,477,58,11,16,40
2018-12-30 19:00:00,48,312,620,162,218,1043,302,381,35,17,...,23,95,435,164,106,460,59,13,15,50
2018-12-30 20:00:00,52,235,620,162,214,1049,303,366,32,17,...,23,99,443,163,135,428,54,18,24,52
2018-12-30 21:00:00,52,225,620,161,218,1051,296,373,36,30,...,29,99,393,153,142,424,57,38,26,50
2018-12-30 22:00:00,53,268,620,160,209,1045,292,418,30,15,...,25,96,397,152,119,412,58,11,25,45
2018-12-30 23:00:00,49,186,620,158,181,1043,293,389,36,12,...,25,97,398,156,119,424,59,13,30,44
2018-12-31 00:00:00,38,73,620,160,172,1046,300,339,31,25,...,28,105,386,146,67,442,58,11,8,44
2018-12-31 01:00:00,39,68,620,161,161,1050,297,355,34,12,...,26,101,395,139,67,394,57,14,4,42
2018-12-31 02:00:00,54,300,620,163,209,1046,291,367,31,14,...,24,104,389,147,95,375,56,23,18,39
2018-12-31 03:00:00,60,253,620,161,196,1049,293,391,29,16,...,27,104,391,152,125,349,57,39,22,33
2018-12-31 04:00:00,43,258,620,162,207,1048,291,390,32,25,...,26,99,395,148,118,342,58,17,30,32
2018-12-31 05:00:00,42,282,620,162,213,1040,292,386,30,16,...,27,99,424,142,122,397,59,13,23,29
2018-12-31 06:00:00,43,195,620,167,190,1047,307,363,40,21,...,30,102,452,158,164,455,60,13,49,28
2018-12-31 07:00:00,57,140,620,169,165,1054,291,304,78,34,...,28,101,487,168,141,488,83,14,31,33
2018-12-31 08:00:00,63,266,620,181,200,1068,316,384,179,24,...,27,107,555,176,185,552,210,22,30,33
2018-12-31 09:00:00,68,473,620,225,237,1084,321,497,200,41,...,27,99,585,179,201,516,230,36,30,37
2018-12-31 10:00:00,74,246,620,235,213,1091,311,404,205,30,...,25,91,616,171,198,484,238,26,33,44
2018-12-31 11:00:00,78,309,620,238,215,1098,290,398,195,23,...,23,58,528,118,164,501,229,31,29,49
2018-12-31 12:00:00,78,283,620,221,204,1074,298,394,223,36,...,24,64,569,156,150,480,230,16,20,53
2018-12-31 13:00:00,77,313,620,228,211,1077,304,387,196,37,...,24,67,567,151,155,453,207,35,39,52
2018-12-31 14:00:00,78,313,618,227,225,1063,319,400,139,30,...,25,70,560,153,167,421,199,19,38,53
2018-12-31 15:00:00,73,334,615,228,224,1066,301,399,101,35,...,25,78,540,184,199,410,217,23,39,53
2018-12-31 16:00:00,73,259,599,228,204,1064,305,401,73,38,...,26,85,540,187,249,419,212,24,39,48
2018-12-31 17:00:00,71,179,590,199,195,1037,288,381,67,23,...,23,91,482,190,172,420,204,13,35,46
2018-12-31 18:00:00,62,126,571,168,176,1052,292,354,54,20,...,24,97,477,187,130,415,88,12,15,50
2018-12-31 19:00:00,59,109,557,159,174,1050,296,357,32,32,...,25,97,441,175,110,453,51,13,6,43
2018-12-31 20:00:00,58,105,544,156,178,1048,279,343,32,16,...,24,84,402,170,100,448,47,11,7,47
2018-12-31 21:00:00,54,102,525,157,167,1046,278,356,34,16,...,24,83,366,166,88,416,48,14,6,47
2018-12-31 22:00:00,53,101,520,153,144,1043,271,347,32,16,...,27,84,357,155,79,382,48,11,7,44
2018-12-31 23:00:00,52,83,478,156,133,1039,268,343,29,27,...,23,79,374,151,76,392,51,14,6,35

In [83]:
blds2017 = []
for bld in os.listdir(filePath2017):
    blds2017.append(bld.split('.')[0][:-1])

In [84]:
blds2018 = []
for bld in os.listdir(filePath2018):
    blds2018.append(bld.split('.')[0][:-1])

In [86]:
len(blds2018)

153

In [87]:
for i in blds2018 : 
    if i in blds2017:
        pass
    else : 
        print(i)

42
60

In [89]:
for bld in pastData.columns.tolist():
    if bld in blds2018 : 
        pass
    else : 
        print(bld)

26

In [115]:
pd.concat([pastData, y2018], sort=False)

,1,2,3,4,5,6,7,8,9,10,...,500,919,941,62-1,86,81,71-1,15-1,111,85-1
2015-01-01 00:00:00,30.000000,47.000000,56.000000,24.0,44.000000,38.0,9.0,40.000000,25.0,10.0,...,1320.0,350.0,54.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 01:00:00,28.000000,48.000000,55.000000,26.0,43.000000,39.0,8.0,38.000000,25.0,10.0,...,1386.0,332.0,56.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 02:00:00,32.714286,33.285714,57.142857,28.0,29.000000,41.0,8.0,38.500000,22.0,9.0,...,1338.0,290.0,60.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 03:00:00,28.000000,34.285714,54.142857,28.0,60.000000,40.0,8.0,40.333333,21.0,8.0,...,1340.0,296.0,58.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 04:00:00,26.142857,34.000000,50.250000,30.0,91.000000,36.0,8.0,37.666667,16.0,9.0,...,1432.0,300.0,58.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 05:00:00,25.428571,35.428571,53.129464,25.0,59.937500,34.0,8.0,35.666667,15.0,10.0,...,1316.0,292.0,59.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 06:00:00,32.000000,40.285714,34.000000,24.0,28.875000,35.0,8.0,36.000000,16.0,10.0,...,1298.0,296.0,58.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 07:00:00,30.857143,38.428571,52.428571,29.0,29.500000,32.0,8.0,38.000000,16.0,10.0,...,1430.0,348.0,61.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 08:00:00,35.428571,43.000000,70.714286,34.0,57.000000,31.0,8.0,52.500000,18.0,8.0,...,1452.0,372.0,59.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 09:00:00,40.071429,42.857143,89.000000,29.0,46.000000,33.0,10.0,67.000000,18.0,12.0,...,1540.0,380.0,58.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 10:00:00,26.000000,23.000000,67.000000,23.0,25.000000,23.0,16.0,41.062500,21.0,11.0,...,1472.0,344.0,64.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 11:00:00,25.000000,23.000000,45.000000,25.0,26.000000,20.0,21.0,15.125000,23.0,15.0,...,1514.0,376.0,64.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 12:00:00,29.000000,41.000000,44.000000,27.0,27.000000,29.0,21.0,26.000000,30.0,15.0,...,1674.0,396.0,60.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 13:00:00,39.000000,42.000000,48.000000,23.0,27.000000,38.0,27.0,13.000000,39.0,14.0,...,1564.0,376.0,58.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 14:00:00,48.000000,47.000000,56.000000,23.0,33.000000,37.0,25.0,15.000000,43.0,13.0,...,1592.0,366.0,55.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 15:00:00,57.000000,54.000000,71.000000,29.0,38.000000,45.5,27.0,27.083333,51.0,16.0,...,1708.0,342.0,55.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 16:00:00,66.000000,58.285714,75.142857,35.0,61.375000,54.0,32.0,39.166667,56.0,13.0,...,1638.0,388.0,57.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 17:00:00,85.000000,55.142857,68.625000,35.0,81.000000,44.0,21.0,29.666667,48.0,12.0,...,1666.0,404.0,56.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 18:00:00,104.000000,53.285714,67.500000,31.0,106.000000,34.0,15.0,25.000000,32.0,10.0,...,1738.0,372.0,61.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 19:00:00,82.500000,53.285714,68.750000,31.0,74.000000,39.0,16.0,39.000000,32.0,14.0,...,1538.0,366.0,60.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 20:00:00,61.000000,52.428571,64.875000,28.0,42.000000,39.0,16.0,46.000000,43.0,10.0,...,1612.0,398.0,59.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 21:00:00,36.000000,32.000000,53.000000,31.0,37.000000,42.0,15.0,45.000000,37.0,13.0,...,1498.0,392.0,68.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 22:00:00,35.000000,28.000000,50.000000,25.0,26.000000,42.0,14.0,44.000000,34.0,12.0,...,1440.0,396.0,59.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 23:00:00,31.000000,21.000000,42.000000,23.0,21.000000,37.0,11.0,43.000000,27.0,12.0,...,1476.0,378.0,59.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-02 00:00:00,30.000000,20.000000,35.000000,24.0,19.000000,38.0,9.0,43.000000,18.0,12.0,...,1318.0,402.0,64.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-02 01:00:00,25.000000,35.250000,57.500000,29.0,53.500000,39.0,8.0,28.404018,15.0,12.0,...,1332.0,406.0,59.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-02 02:00:00,23.666667,34.500000,80.000000,30.0,88.000000,38.0,8.0,28.914773,14.0,12.0,...,1410.0,330.0,56.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-02 03:00:00,25.057143,35.250000,84.000000,29.0,96.000000,33.0,8.0,28.897842,14.0,9.0,...,1350.0,312.0,64.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-02 04:00:00,24.007421,36.667677,110.000000,28.0,62.333333,34.0,9.0,27.418750,10.0,10.0,...,1408.0,342.0,59.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-02 05:00:00,71.503711,36.175934,137.000000,31.0,49.000000,39.0,10.0,76.000000,14.0,9.0,...,1336.0,314.0,62.0,0.0,0.0,0.0,0.0,0.0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-30 18:00:00,88.000000,57.000000,2.000000,66.0,1.000000,40.0,-36.0,84.000000,40.0,18.0,...,1662.0,477.0,58.0,352.0,156.0,307.0,38.0,-36.0,7,87
2018-12-30 19:00:00,74.000000,117.000000,2.000000,66.0,1.000000,41.0,-61.0,106.000000,50.0,17.0,...,1654.0,460.0,59.0,350.0,164.0,304.0,54.0,-36.0,7,95
2018-12-30 20:00:00,116.000000,90.000000,2.000000,66.0,1.000000,39.0,-88.0,135.000000,52.0,17.0,...,1600.0,428.0,54.0,379.0,163.0,311.0,41.0,-35.0,10,99
2018-12-30 21:00:00,112.000000,94.000000,2.000000,66.0,1.000000,33.0,-98.0,142.000000,50.0,30.0,...,1597.0,424.0,57.0,313.0,153.0,319.0,47.0,-37.0,6,99
2018-12-30 22:00:00,133.000000,110.000000,2.000000,66.0,1.000000,31.0,-81.0,119.000000,45.0,15.0,...,1579.0,412.0,58.0,271.0,152.0,321.0,42.0,-45.0,8,96
2018-12-30 23:00:00,92.000000,64.000000,2.000000,66.0,1.000000,29.0,-83.0,119.000000,44.0,12.0,...,1536.0,424.0,59.0,186.0,156.0,314.0,32.0,-40.0,10,97
2018-12-31 00:00:00,32.000000,31.000000,2.000000,66.0,1.000000,28.0,-24.0,67.000000,44.0,25.0,...,2192.0,442.0,58.0,182.0,146.0,320.0,34.0,-31.0,2,105
2018-12-31 01:00:00,25.000000,31.000000,2.000000,66.0,1.000000,24.0,-24.0,67.000000,42.0,12.0,...,2304.0,394.0,57.0,174.0,139.0,322.0,32.0,-31.0,2,101
2018-12-31 02:00:00,56.000000,107.000000,2.000000,66.0,1.000000,28.0,-52.0,95.000000,39.0,14.0,...,2281.0,375.0,56.0,224.0,147.0,319.0,50.0,-35.0,7,104
2018-12-31 03:00:00,109.000000,75.000000,2.000000,66.0,1.000000,25.0,-83.0,125.000000,33.0,16.0,...,2269.0,349.0,57.0,275.0,152.0,319.0,37.0,-41.0,8,104
2018-12-31 04:00:00,91.000000,82.000000,2.000000,66.0,1.000000,24.0,-77.0,118.000000,32.0,25.0,...,2250.0,342.0,58.0,160.0,148.0,320.0,44.0,-32.0,7,99
2018-12-31 05:00:00,127.000000,108.000000,2.000000,66.0,1.000000,25.0,-79.0,122.000000,29.0,16.0,...,1872.0,397.0,59.0,232.0,142.0,318.0,46.0,-32.0,10,99
2018-12-31 06:00:00,99.000000,88.000000,2.000000,66.0,1.000000,26.0,-116.0,164.000000,28.0,21.0,...,1494.0,455.0,60.0,379.0,158.0,321.0,37.0,-35.0,10,102
2018-12-31 07:00:00,34.000000,49.000000,2.000000,66.0,1.000000,27.0,-91.0,141.000000,33.0,34.0,...,1522.0,488.0,83.0,312.0,168.0,333.0,43.0,-33.0,9,101
2018-12-31 08:00:00,63.000000,80.000000,2.000000,66.0,1.000000,26.0,-127.0,185.000000,33.0,24.0,...,1753.0,552.0,210.0,388.0,176.0,352.0,38.0,-32.0,11,107
2018-12-31 09:00:00,142.000000,148.000000,2.000000,66.0,1.000000,37.0,-138.0,201.000000,37.0,41.0,...,2100.0,516.0,230.0,369.0,179.0,366.0,35.0,-24.0,13,99
2018-12-31 10:00:00,157.000000,159.000000,2.000000,66.0,1.000000,40.0,-127.0,198.000000,44.0,30.0,...,1311.0,484.0,238.0,257.0,171.0,342.0,21.0,-17.0,13,91
2018-12-31 11:00:00,123.000000,142.000000,2.000000,58.0,1.000000,39.0,-155.0,164.000000,49.0,23.0,...,1269.0,501.0,229.0,201.0,118.0,310.0,6.0,-15.0,12,58
2018-12-31 12:00:00,117.000000,120.000000,2.000000,66.0,1.000000,43.0,-87.0,150.000000,53.0,36.0,...,2163.0,480.0,230.0,224.0,156.0,299.0,1.0,-17.0,12,64
2018-12-31 13:00:00,120.000000,137.000000,2.000000,66.0,1.000000,49.0,-82.0,155.000000,52.0,37.0,...,2198.0,453.0,207.0,268.0,151.0,315.0,8.0,-25.0,11,67
2018-12-31 14:00:00,127.000000,148.000000,2.000000,66.0,1.000000,45.0,-98.0,167.000000,53.0,30.0,...,2152.0,421.0,199.0,274.0,153.0,304.0,7.0,-27.0,12,70
2018-12-31 15:00:00,132.000000,150.000000,2.000000,66.0,1.000000,45.0,-127.0,199.000000,53.0,35.0,...,2137.0,410.0,217.0,330.0,184.0,317.0,27.0,-33.0,13,78
2018-12-31 16:00:00,116.000000,137.000000,2.000000,66.0,1.000000,45.0,-189.0,249.000000,48.0,38.0,...,2114.0,419.0,212.0,355.0,187.0,322.0,57.0,-38.0,12,85
2018-12-31 17:00:00,94.000000,106.000000,2.000000,65.0,1.000000,37.0,-114.0,172.000000,46.0,23.0,...,1091.0,420.0,204.0,365.0,190.0,308.0,65.0,-42.0,13,91
2018-12-31 18:00:00,61.000000,71.000000,2.000000,66.0,1.000000,33.0,-78.0,130.000000,50.0,20.0,...,978.0,415.0,88.0,357.0,187.0,305.0,65.0,-41.0,9,97
2018-12-31 19:00:00,39.000000,63.000000,2.000000,66.0,1.000000,39.0,-63.0,110.000000,43.0,32.0,...,1795.0,453.0,51.0,360.0,175.0,301.0,55.0,-41.0,7,97
2018-12-31 20:00:00,40.000000,58.000000,2.000000,66.0,1.000000,38.0,-49.0,100.000000,47.0,16.0,...,1764.0,448.0,47.0,399.0,170.0,293.0,44.0,-39.0,7,84
2018-12-31 21:00:00,46.000000,44.000000,2.000000,66.0,1.000000,36.0,-37.0,88.000000,47.0,16.0,...,1673.0,416.0,48.0,268.0,166.0,294.0,36.0,-37.0,7,83
2018-12-31 22:00:00,37.000000,34.000000,2.000000,66.0,1.000000,32.0,-33.0,79.000000,44.0,16.0,...,1590.0,382.0,48.0,236.0,155.0,288.0,39.0,-34.0,5,84
2018-12-31 23:00:00,24.000000,31.000000,2.000000,66.0,1.000000,24.0,-32.0,76.000000,35.0,27.0,...,1501.0,392.0,51.0,151.0,151.0,281.0,33.0,-30.0,5,79

In [114]:
pastData.head()

,1,2,3,4,5,6,7,8,9,10,...,500,919,941,62-1,86,81,71-1,15-1,111,85-1
2015-01-01 00:00:00,30.000000,47.000000,56.000000,24.0,44.0,38.0,9.0,40.000000,25.0,10.0,...,1320.0,350.0,54.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 01:00:00,28.000000,48.000000,55.000000,26.0,43.0,39.0,8.0,38.000000,25.0,10.0,...,1386.0,332.0,56.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 02:00:00,32.714286,33.285714,57.142857,28.0,29.0,41.0,8.0,38.500000,22.0,9.0,...,1338.0,290.0,60.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 03:00:00,28.000000,34.285714,54.142857,28.0,60.0,40.0,8.0,40.333333,21.0,8.0,...,1340.0,296.0,58.0,0.0,0.0,0.0,0.0,0.0,,
2015-01-01 04:00:00,26.142857,34.000000,50.250000,30.0,91.0,36.0,8.0,37.666667,16.0,9.0,...,1432.0,300.0,58.0,0.0,0.0,0.0,0.0,0.0,,

In [116]:
filePath2019 = "E:/python projects/201903projects/2019년1~2월"

In [117]:
blds2019 = []
for bld in os.listdir(filePath2019):
    blds2019.append(bld.split('.')[0][:-1])

In [118]:
for i in blds2019:
    if i not in blds2018:
        print(i)

149
86-1

In [16]:
ddd = pd.read_csv("건물 정보.csv", encoding='cp949', engine='python')

In [30]:
temp = ddd.loc[ddd.기관=='인문대학']

In [31]:
temp['item'] = temp['동 번호'] + "동" + " (" + temp['건물명'] + ")"

D:\Program Files\Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
temp

   캠퍼스 동 번호        건물명    기관      연면적        용도            item
0   관악    1       인문관1  인문대학  3843.96  대학_인문사회계       1동 (인문관1)
1   관악    2       인문관2  인문대학  3897.73  대학_인문사회계       2동 (인문관2)
2   관악    3       인문관3  인문대학  4523.63  대학_인문사회계       3동 (인문관3)
3   관악    4  신양인문학술정보관  인문대학  2998.97    학술지원시설  4동 (신양인문학술정보관)
4   관악    5       인문관4  인문대학  5181.18  대학_인문사회계       5동 (인문관4)
5   관악    6       인문관5  인문대학  3106.77  대학_인문사회계       6동 (인문관5)
6   관악    7       인문관6  인문대학  4765.29  대학_인문사회계       7동 (인문관6)
7   관악    8      두산인문관  인문대학  3620.69  대학_인문사회계      8동 (두산인문관)
14  관악   14       인문관7  인문대학  5921.14  대학_인문사회계      14동 (인문관7)

In [33]:
import pickle

In [34]:
with open('_filepath.pkl', 'rb') as f : 
    gg = pickle.load(f)

In [36]:
if gg['bldg'] : 
    print('bldg')

bldg

In [48]:
for i in temp.iterrows():
    print(i[1]['동 번호'] + )

1
2
3
4
5
6
7
8
14

In [15]:
g = pastData["20150101"][['1']]

In [16]:
g.apply(round)

                         1
2015-01-01 00:00:00   30.0
2015-01-01 01:00:00   28.0
2015-01-01 02:00:00   33.0
2015-01-01 03:00:00   28.0
2015-01-01 04:00:00   26.0
2015-01-01 05:00:00   25.0
2015-01-01 06:00:00   32.0
2015-01-01 07:00:00   31.0
2015-01-01 08:00:00   35.0
2015-01-01 09:00:00   40.0
2015-01-01 10:00:00   26.0
2015-01-01 11:00:00   25.0
2015-01-01 12:00:00   29.0
2015-01-01 13:00:00   39.0
2015-01-01 14:00:00   48.0
2015-01-01 15:00:00   57.0
2015-01-01 16:00:00   66.0
2015-01-01 17:00:00   85.0
2015-01-01 18:00:00  104.0
2015-01-01 19:00:00   82.0
2015-01-01 20:00:00   61.0
2015-01-01 21:00:00   36.0
2015-01-01 22:00:00   35.0
2015-01-01 23:00:00   31.0

In [19]:
'1' in pastData.columns

True

In [23]:
import datetime

In [30]:
g = pastData.index.tolist()[10000]

In [33]:
g - datetime.timedelta(hours=1)

Timestamp('2016-02-21 15:00:00', freq='H')

In [35]:
pastData['count'] = range(pastData.shape[0])

In [67]:
year = [' 0', -1,-2,-3,-4]
mh = [' 0', '-1', '+1']

In [80]:
pastData['count']['20170101':'20170102'].tolist()

[17544,
 17545,
 17546,
 17547,
 17548,
 17549,
 17550,
 17551,
 17552,
 17553,
 17554,
 17555,
 17556,
 17557,
 17558,
 17559,
 17560,
 17561,
 17562,
 17563,
 17564,
 17565,
 17566,
 17567,
 17568,
 17569,
 17570,
 17571,
 17572,
 17573,
 17574,
 17575,
 17576,
 17577,
 17578,
 17579,
 17580,
 17581,
 17582,
 17583,
 17584,
 17585,
 17586,
 17587,
 17588,
 17589,
 17590,
 17591]

In [68]:
resHeader = []
resIndex = []
for y in year : 
    for d in mh : 
        for h in mh : 
            resHeader.append("".join([str(x) for x in [y, 'y', d, 'd', h, 'h']]))
            resIndex.append(int(y)*52*7*24+int(d)*24+int(h)*1)

In [69]:
resIndex

[0,
 -1,
 1,
 -24,
 -25,
 -23,
 24,
 23,
 25,
 -8736,
 -8737,
 -8735,
 -8760,
 -8761,
 -8759,
 -8712,
 -8713,
 -8711,
 -17472,
 -17473,
 -17471,
 -17496,
 -17497,
 -17495,
 -17448,
 -17449,
 -17447,
 -26208,
 -26209,
 -26207,
 -26232,
 -26233,
 -26231,
 -26184,
 -26185,
 -26183,
 -34944,
 -34945,
 -34943,
 -34968,
 -34969,
 -34967,
 -34920,
 -34921,
 -34919]

In [70]:
resHeader

[' 0y 0d 0h',
 ' 0y 0d-1h',
 ' 0y 0d+1h',
 ' 0y-1d 0h',
 ' 0y-1d-1h',
 ' 0y-1d+1h',
 ' 0y+1d 0h',
 ' 0y+1d-1h',
 ' 0y+1d+1h',
 '-1y 0d 0h',
 '-1y 0d-1h',
 '-1y 0d+1h',
 '-1y-1d 0h',
 '-1y-1d-1h',
 '-1y-1d+1h',
 '-1y+1d 0h',
 '-1y+1d-1h',
 '-1y+1d+1h',
 '-2y 0d 0h',
 '-2y 0d-1h',
 '-2y 0d+1h',
 '-2y-1d 0h',
 '-2y-1d-1h',
 '-2y-1d+1h',
 '-2y+1d 0h',
 '-2y+1d-1h',
 '-2y+1d+1h',
 '-3y 0d 0h',
 '-3y 0d-1h',
 '-3y 0d+1h',
 '-3y-1d 0h',
 '-3y-1d-1h',
 '-3y-1d+1h',
 '-3y+1d 0h',
 '-3y+1d-1h',
 '-3y+1d+1h',
 '-4y 0d 0h',
 '-4y 0d-1h',
 '-4y 0d+1h',
 '-4y-1d 0h',
 '-4y-1d-1h',
 '-4y-1d+1h',
 '-4y+1d 0h',
 '-4y+1d-1h',
 '-4y+1d+1h']

In [81]:
pp = pd.DataFrame()

In [86]:
test = pastData['20170101':'20170102'][['1', '2', '3', 'count']]

In [88]:
test.head()

                           1        2     3  count
2017-01-01 00:00:00  35.5000  22.2500  28.0  17544
2017-01-01 01:00:00  31.8750  21.7500  28.0  17545
2017-01-01 02:00:00  55.8125  31.2500  28.0  17546
2017-01-01 03:00:00  79.7500  50.9375  29.0  17547
2017-01-01 04:00:00  73.1250  70.6250  28.0  17548

In [89]:
sliced = pastData[['1','2','3']]

In [124]:
sliced.loc[g+datetime.timedelta(hours=-155), '1']

30.45833333

In [91]:
dataCheck = pd.DataFrame()

In [92]:
dataCheck = dataCheck.reindex_like(sliced)

In [122]:
for i in sliced.iterrows():
    print(i[0], i[1][0])
    break

2015-01-01 00:00:00 30.0

In [99]:
test['index'] = test.index

In [102]:
pd.melt(test, id_vars=['index', 'count'], value_vars = ['1','2','3'])

                  index  count variable       value
0   2017-01-01 00:00:00  17544        1   35.500000
1   2017-01-01 01:00:00  17545        1   31.875000
2   2017-01-01 02:00:00  17546        1   55.812500
3   2017-01-01 03:00:00  17547        1   79.750000
4   2017-01-01 04:00:00  17548        1   73.125000
5   2017-01-01 05:00:00  17549        1   87.000000
6   2017-01-01 06:00:00  17550        1   61.250000
7   2017-01-01 07:00:00  17551        1   35.500000
8   2017-01-01 08:00:00  17552        1   38.875000
9   2017-01-01 09:00:00  17553        1   46.125000
10  2017-01-01 10:00:00  17554        1   51.500000
11  2017-01-01 11:00:00  17555        1   49.875000
12  2017-01-01 12:00:00  17556        1   43.750000
13  2017-01-01 13:00:00  17557        1   47.000000
14  2017-01-01 14:00:00  17558        1   52.500000
15  2017-01-01 15:00:00  17559        1   60.750000
16  2017-01-01 16:00:00  17560        1   72.625000
17  2017-01-01 17:00:00  17561        1   74.875000
18  2017-01-01 18:00:00  17562        1   66.375000
19  2017-01-01 19:00:00  17563        1   58.936986
20  2017-01-01 20:00:00  17564        1   54.775421
21  2017-01-01 21:00:00  17565        1   57.488636
22  2017-01-01 22:00:00  17566        1   57.625000
23  2017-01-01 23:00:00  17567        1   54.500000
24  2017-01-02 00:00:00  17568        1   52.000000
25  2017-01-02 01:00:00  17569        1   42.250000
26  2017-01-02 02:00:00  17570        1   47.125000
27  2017-01-02 03:00:00  17571        1   48.625000
28  2017-01-02 04:00:00  17572        1   43.375000
29  2017-01-02 05:00:00  17573        1   51.250000
..                  ...    ...      ...         ...
114 2017-01-01 18:00:00  17562        3   33.000000
115 2017-01-01 19:00:00  17563        3   44.000000
116 2017-01-01 20:00:00  17564        3   39.000000
117 2017-01-01 21:00:00  17565        3   26.000000
118 2017-01-01 22:00:00  17566        3   41.000000
119 2017-01-01 23:00:00  17567        3   32.000000
120 2017-01-02 00:00:00  17568        3   33.000000
121 2017-01-02 01:00:00  17569        3   32.000000
122 2017-01-02 02:00:00  17570        3   32.000000
123 2017-01-02 03:00:00  17571        3   33.000000
124 2017-01-02 04:00:00  17572        3   31.000000
125 2017-01-02 05:00:00  17573        3   34.000000
126 2017-01-02 06:00:00  17574        3   40.000000
127 2017-01-02 07:00:00  17575        3   40.000000
128 2017-01-02 08:00:00  17576        3   66.593829
129 2017-01-02 09:00:00  17577        3   92.343738
130 2017-01-02 10:00:00  17578        3  123.670548
131 2017-01-02 11:00:00  17579        3  201.357968
132 2017-01-02 12:00:00  17580        3  121.500000
133 2017-01-02 13:00:00  17581        3  178.275510
134 2017-01-02 14:00:00  17582        3  187.000000
135 2017-01-02 15:00:00  17583        3  185.000000
136 2017-01-02 16:00:00  17584        3  175.000000
137 2017-01-02 17:00:00  17585        3  139.250000
138 2017-01-02 18:00:00  17586        3  103.500000
139 2017-01-02 19:00:00  17587        3   71.000000
140 2017-01-02 20:00:00  17588        3   67.000000
141 2017-01-02 21:00:00  17589        3   47.000000
142 2017-01-02 22:00:00  17590        3   36.000000
143 2017-01-02 23:00:00  17591        3   34.000000

[144 rows x 4 columns]

In [35]:
from scipy.stats.norm import ppf

ImportError: No module named 'scipy.stats.norm'

In [29]:
norm.ppf(0.975)

1.959963984540054

In [38]:
pastData.columns.get_loc('1')

0